/* App.css */
body, html, .container {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}

.header {
  background-color: black;
  height: 60px;
  overflow: hidden;
  position: relative;
}

.ticker {
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.ticker__content {
  display: flex;
  animation: ticker-scroll 20s linear infinite;
}

.ticker__wrap {
  display: flex;
}

.ticker__item {
  color: #fff;
  font-size: 24px;
  white-space: nowrap;
  margin-right: 40px; /* 10px spacing between items */
}

@keyframes ticker-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
